data/historical/*.pickle filter=lfs diff=lfs merge=lfs -text
data/checkpoints/vanilla_model_weights/v_48_020.pt filter=lfs diff=lfs merge=lfs -text
data/features/*.pickle filter=lfs diff=lfs merge=lfs -text
data/tensors/*.pickle filter=lfs diff=lfs merge=lfs -text
data/tensors/shards/**/*.pkl filter=lfs diff=lfs merge=lfs -text
